<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the installation.
 * You don't have to use the web site, you can copy this file to "wp-config.php"
 * and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * Database settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://wordpress.org/support/article/editing-wp-config-php/
 *
 * @package WordPress
 */

// ** Database settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', '{{ db_name }}' );

/** Database username */
define( 'DB_USER', '{{ db_user }}' );

/** Database password */
define( 'DB_PASSWORD', '{{ db_user_pw }}' );

/** Database hostname */
define( 'DB_HOST', '{{ db_socket }}' );

/** Database charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8' );

/** The database collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication unique keys and salts.
 *
 * Change these to different unique phrases! You can generate these using
 * the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}.
 *
 * You can change these at any point in time to invalidate all existing cookies.
 * This will force all users to have to log in again.
 *
 * @since 2.6.0
 * CMD: curl -s https://api.wordpress.org/secret-key/1.1/salt/
 */
define('AUTH_KEY',         'mRRFO~p@ZF=Y :KTYsaJl0yw{fvp{N.mh~GxVJ;`gJjjI!X)3V--W@LVP*q/m<E9');
define('SECURE_AUTH_KEY',  'Q-}$%l53lfm+sJRr2V}.;]4^G~R3Af1>_FHo5yxkpV/cZiM`c`/lns8>Qw--[eRj');
define('LOGGED_IN_KEY',    'T$:uEwm 8#Hw.{@/G{H%2@,o&J:EcE+1N}+gE1`J?=9`A_KJ]$_t:(WVEl7gd)AE');
define('NONCE_KEY',        ',:{$*Un|5YglN30XPVB5;/5cx{3M7vG`[F99$}JoE k.G?@t:jzuhB|1~Y=YGywG');
define('AUTH_SALT',        'b(z|lFv7vf]|}~d)nB)CI[|&;-s^QVOFriuGZ-&SaiI9!H0M-GdvDVnAS9*u:UV#');
define('SECURE_AUTH_SALT', 'CgBJeg|t;~o7x,H+No;Lk +S>{|Cp.{!%uk-.V_>E-<ph#Z1*-rU-xdaQ9+YaV&m');
define('LOGGED_IN_SALT',   'Z_8FOW}0Pk,=L%SbtgcB9aP`EZ0uDM/03<p2qz|Y<J|*ko{ -&zE<K.5j;5+scwL');
define('NONCE_SALT',       'aaxn;hIO=BBU|)fQ1M1%a47$M|kc>UKYfAe<ahxxCWpO~)o1^e-<Ox22#zAK>d;,');
/**#@-*/

/**
 * WordPress database table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the documentation.
 *
 * @link https://wordpress.org/support/article/debugging-in-wordpress/
 */
define( 'WP_DEBUG', false );

/* Add any custom values between this line and the "stop editing" line. */



/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
        define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';
